In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [97]:
file_path = '/Users/syedakramulhassan/Library/CloudStorage/OneDrive-Personal/WorkSpace/Learning/Python/Learning Pandas/undesa_pd_2015_migration_flow_totals.csv'

# Check if the file exists
if os.path.exists(file_path):
    print("File exists.")
    # Check if the file is readable
    if os.access(file_path, os.R_OK):
        print("You have permission to read the file.")
    else:
        print("You do not have permission to read the file.")
else:
    print("File does not exist.")

File exists.
You have permission to read the file.

In [99]:
Migration_Flows = pd.read_csv(file_path, skiprows = 12, header = 0)
print(Migration_Flows.head(10))

     CntName     Criteria        Type    Coverage      1980      1981  \
0    Armenia    Residence   Emigrants        Both       NaN       NaN
1    Armenia    Residence  Immigrants        Both       NaN       NaN
2  Australia    Residence   Emigrants        Both   90860.0   85600.0
3  Australia    Residence  Immigrants        Both  184290.0  212690.0
4    Austria  Citizenship   Emigrants    Citizens       NaN       NaN
5    Austria  Citizenship   Emigrants  Foreigners       NaN       NaN
6    Austria  Citizenship  Immigrants    Citizens       NaN       NaN
7    Austria  Citizenship  Immigrants  Foreigners       NaN       NaN
8    Austria    Residence   Emigrants        Both       NaN       NaN
9    Austria    Residence  Immigrants        Both       NaN       NaN

       1982      1983      1984      1985  ...      2004      2005      2006  \
0       NaN       NaN       NaN       NaN  ...    8451.0    9303.0    8053.0
1       NaN       NaN       NaN       NaN  ...    1514.0    1497.0    1335.0
2   92340.0  100510.0   96360.0   93440.0  ...  212200.0  206690.0  204800.0
3  195200.0  153570.0  153530.0  172550.0  ...  350990.0  363470.0  402210.0
4       NaN       NaN       NaN       NaN  ...   21703.0   20333.0   19387.0
5       NaN       NaN       NaN       NaN  ...   50018.0   49800.0   55045.0
6       NaN       NaN       NaN       NaN  ...   18301.0   16470.0   15636.0
7       NaN       NaN       NaN       NaN  ...  104246.0   97995.0   82899.0
8       NaN       NaN       NaN       NaN  ...   71721.0   70133.0   74432.0
9       NaN       NaN       NaN       NaN  ...  122547.0  114465.0   98535.0

       2007      2008     2009     2010     2011     2012      2013
0    7461.0    6121.0   4100.0      NaN      NaN      NaN       NaN
1    1112.0     864.0    861.0      NaN      NaN      NaN       NaN
2  216580.0  220280.0      NaN      NaN      NaN      NaN       NaN
3  460650.0  535970.0      NaN      NaN      NaN      NaN       NaN
4   17828.0   18168.0  16376.0  16059.0  14401.0  15443.0   15368.0
5   32070.0   33395.0  36868.0  35592.0  36796.0  36369.0   38703.0
6    8477.0    8636.0   8988.0   8817.0   8082.0   8272.0    9237.0
7   64385.0   65136.0  60307.0  62161.0  74148.0  83285.0   92629.0
8   49898.0   51563.0  53244.0  51651.0  51197.0  51812.0   54071.0
9   72862.0   73772.0  69295.0  70978.0  82230.0  91557.0  101866.0

[10 rows x 38 columns]

In [101]:
Migration_Flows.isnull().sum()

CntName       0
Criteria      0
Type          0
Coverage      0
1980        182
1981        181
1982        181
1983        177
1984        177
1985        176
1986        170
1987        168
1988        168
1989        168
1990        159
1991        147
1992        141
1993        138
1994        140
1995        130
1996        121
1997        122
1998         74
1999         62
2000         55
2001         55
2002         49
2003         53
2004         41
2005         44
2006         25
2007         21
2008         25
2009         47
2010         54
2011         43
2012         35
2013         39
dtype: int64

In [103]:
Migration_Flows.info

<bound method DataFrame.info of                                                CntName        Criteria  \
0                                              Armenia       Residence
1                                              Armenia       Residence
2                                            Australia       Residence
3                                            Australia       Residence
4                                              Austria     Citizenship
..                                                 ...             ...
224  United Kingdom of Great Britain and Northern I...     Citizenship
225  United Kingdom of Great Britain and Northern I...     Citizenship
226  United Kingdom of Great Britain and Northern I...       Residence
227  United Kingdom of Great Britain and Northern I...       Residence
228                           United States of America  Place of birth

           Type    Coverage      1980      1981      1982      1983      1984  \
0     Emigrants        Both       NaN       NaN       NaN       NaN       NaN
1    Immigrants        Both       NaN       NaN       NaN       NaN       NaN
2     Emigrants        Both   90860.0   85600.0   92340.0  100510.0   96360.0
3    Immigrants        Both  184290.0  212690.0  195200.0  153570.0  153530.0
4     Emigrants    Citizens       NaN       NaN       NaN       NaN       NaN
..          ...         ...       ...       ...       ...       ...       ...
224  Immigrants    Citizens       NaN       NaN       NaN       NaN       NaN
225  Immigrants  Foreigners       NaN       NaN       NaN       NaN       NaN
226   Emigrants        Both       NaN       NaN       NaN       NaN       NaN
227  Immigrants        Both  173000.0  153000.0  201000.0  202000.0  201000.0
228  Immigrants  Foreigners  530639.0  596600.0  594131.0  559763.0  543903.0

         1985  ...      2004       2005       2006       2007       2008  \
0         NaN  ...    8451.0     9303.0     8053.0     7461.0     6121.0
1         NaN  ...    1514.0     1497.0     1335.0     1112.0      864.0
2     93440.0  ...  212200.0   206690.0   204800.0   216580.0   220280.0
3    172550.0  ...  350990.0   363470.0   402210.0   460650.0   535970.0
4         NaN  ...   21703.0    20333.0    19387.0    17828.0    18168.0
..        ...  ...       ...        ...        ...        ...        ...
224       NaN  ...   85460.0    89067.0    77306.0    71424.0    85081.0
225       NaN  ...  432637.0   407403.0   451702.0   455290.0   505161.0
226       NaN  ...  310389.0   328408.0   369470.0   317587.0   427207.0
227  232000.0  ...  518097.0   496469.0   529008.0   526714.0   590242.0
228  570009.0  ...  957883.0  1122257.0  1266129.0  1052415.0  1107126.0

          2009       2010       2011       2012      2013
0       4100.0        NaN        NaN        NaN       NaN
1        861.0        NaN        NaN        NaN       NaN
2          NaN        NaN        NaN        NaN       NaN
3          NaN        NaN        NaN        NaN       NaN
4      16376.0    16059.0    14401.0    15443.0   15368.0
..         ...        ...        ...        ...       ...
224    95970.0    93321.0    78430.0    80196.0   76136.0
225   470544.0   497629.0   487614.0   417844.0  449910.0
226   368177.0   339306.0   350703.0   321217.0  316934.0
227   566514.0   590950.0   566044.0   498040.0  526046.0
228  1130818.0  1042625.0  1062040.0  1031631.0  990553.0

[229 rows x 38 columns]>

In [105]:
Migration_Flows.dtypes

CntName      object
Criteria     object
Type         object
Coverage     object
1980        float64
1981        float64
1982        float64
1983        float64
1984        float64
1985        float64
1986        float64
1987        float64
1988        float64
1989        float64
1990        float64
1991        float64
1992        float64
1993        float64
1994        float64
1995        float64
1996        float64
1997        float64
1998        float64
1999        float64
2000        float64
2001        float64
2002        float64
2003        float64
2004        float64
2005        float64
2006        float64
2007        float64
2008        float64
2009        float64
2010        float64
2011        float64
2012        float64
2013        float64
dtype: object

In [107]:
Migration_Flows.info

<bound method DataFrame.info of                                                CntName        Criteria  \
0                                              Armenia       Residence
1                                              Armenia       Residence
2                                            Australia       Residence
3                                            Australia       Residence
4                                              Austria     Citizenship
..                                                 ...             ...
224  United Kingdom of Great Britain and Northern I...     Citizenship
225  United Kingdom of Great Britain and Northern I...     Citizenship
226  United Kingdom of Great Britain and Northern I...       Residence
227  United Kingdom of Great Britain and Northern I...       Residence
228                           United States of America  Place of birth

           Type    Coverage      1980      1981      1982      1983      1984  \
0     Emigrants        Both       NaN       NaN       NaN       NaN       NaN
1    Immigrants        Both       NaN       NaN       NaN       NaN       NaN
2     Emigrants        Both   90860.0   85600.0   92340.0  100510.0   96360.0
3    Immigrants        Both  184290.0  212690.0  195200.0  153570.0  153530.0
4     Emigrants    Citizens       NaN       NaN       NaN       NaN       NaN
..          ...         ...       ...       ...       ...       ...       ...
224  Immigrants    Citizens       NaN       NaN       NaN       NaN       NaN
225  Immigrants  Foreigners       NaN       NaN       NaN       NaN       NaN
226   Emigrants        Both       NaN       NaN       NaN       NaN       NaN
227  Immigrants        Both  173000.0  153000.0  201000.0  202000.0  201000.0
228  Immigrants  Foreigners  530639.0  596600.0  594131.0  559763.0  543903.0

         1985  ...      2004       2005       2006       2007       2008  \
0         NaN  ...    8451.0     9303.0     8053.0     7461.0     6121.0
1         NaN  ...    1514.0     1497.0     1335.0     1112.0      864.0
2     93440.0  ...  212200.0   206690.0   204800.0   216580.0   220280.0
3    172550.0  ...  350990.0   363470.0   402210.0   460650.0   535970.0
4         NaN  ...   21703.0    20333.0    19387.0    17828.0    18168.0
..        ...  ...       ...        ...        ...        ...        ...
224       NaN  ...   85460.0    89067.0    77306.0    71424.0    85081.0
225       NaN  ...  432637.0   407403.0   451702.0   455290.0   505161.0
226       NaN  ...  310389.0   328408.0   369470.0   317587.0   427207.0
227  232000.0  ...  518097.0   496469.0   529008.0   526714.0   590242.0
228  570009.0  ...  957883.0  1122257.0  1266129.0  1052415.0  1107126.0

          2009       2010       2011       2012      2013
0       4100.0        NaN        NaN        NaN       NaN
1        861.0        NaN        NaN        NaN       NaN
2          NaN        NaN        NaN        NaN       NaN
3          NaN        NaN        NaN        NaN       NaN
4      16376.0    16059.0    14401.0    15443.0   15368.0
..         ...        ...        ...        ...       ...
224    95970.0    93321.0    78430.0    80196.0   76136.0
225   470544.0   497629.0   487614.0   417844.0  449910.0
226   368177.0   339306.0   350703.0   321217.0  316934.0
227   566514.0   590950.0   566044.0   498040.0  526046.0
228  1130818.0  1042625.0  1062040.0  1031631.0  990553.0

[229 rows x 38 columns]>

In [109]:
Migration_Flows.columns

Index(['CntName', 'Criteria', 'Type', 'Coverage', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013'],
      dtype='object')

In [111]:
# Replace NaN values with "0" in the "Zip Code" column 
Migration_Flows.fillna(0, inplace=True) 

# Optional: Check if the NaN values have been replaced 
print(Migration_Flows.head())

     CntName     Criteria        Type  Coverage      1980      1981      1982  \
0    Armenia    Residence   Emigrants      Both       0.0       0.0       0.0
1    Armenia    Residence  Immigrants      Both       0.0       0.0       0.0
2  Australia    Residence   Emigrants      Both   90860.0   85600.0   92340.0
3  Australia    Residence  Immigrants      Both  184290.0  212690.0  195200.0
4    Austria  Citizenship   Emigrants  Citizens       0.0       0.0       0.0

       1983      1984      1985  ...      2004      2005      2006      2007  \
0       0.0       0.0       0.0  ...    8451.0    9303.0    8053.0    7461.0
1       0.0       0.0       0.0  ...    1514.0    1497.0    1335.0    1112.0
2  100510.0   96360.0   93440.0  ...  212200.0  206690.0  204800.0  216580.0
3  153570.0  153530.0  172550.0  ...  350990.0  363470.0  402210.0  460650.0
4       0.0       0.0       0.0  ...   21703.0   20333.0   19387.0   17828.0

       2008     2009     2010     2011     2012     2013
0    6121.0   4100.0      0.0      0.0      0.0      0.0
1     864.0    861.0      0.0      0.0      0.0      0.0
2  220280.0      0.0      0.0      0.0      0.0      0.0
3  535970.0      0.0      0.0      0.0      0.0      0.0
4   18168.0  16376.0  16059.0  14401.0  15443.0  15368.0

[5 rows x 38 columns]

In [113]:
Migration_Flows.isnull().sum()

CntName     0
Criteria    0
Type        0
Coverage    0
1980        0
1981        0
1982        0
1983        0
1984        0
1985        0
1986        0
1987        0
1988        0
1989        0
1990        0
1991        0
1992        0
1993        0
1994        0
1995        0
1996        0
1997        0
1998        0
1999        0
2000        0
2001        0
2002        0
2003        0
2004        0
2005        0
2006        0
2007        0
2008        0
2009        0
2010        0
2011        0
2012        0
2013        0
dtype: int64

In [115]:
# Create a list of column names from 1980 to 2013 
column_list = [str(year) for year in range(1980, 2013)] 

# Create a new column 'Total_Migration' which is the sum of columns from 1980 to 2023 
Migration_Flows['Total_Migration'] = Migration_Flows[column_list].sum(axis=1) 

# Display the DataFrame to confirm the new column 
print(Migration_Flows.head())

     CntName     Criteria        Type  Coverage      1980      1981      1982  \
0    Armenia    Residence   Emigrants      Both       0.0       0.0       0.0
1    Armenia    Residence  Immigrants      Both       0.0       0.0       0.0
2  Australia    Residence   Emigrants      Both   90860.0   85600.0   92340.0
3  Australia    Residence  Immigrants      Both  184290.0  212690.0  195200.0
4    Austria  Citizenship   Emigrants  Citizens       0.0       0.0       0.0

       1983      1984      1985  ...      2005      2006      2007      2008  \
0       0.0       0.0       0.0  ...    9303.0    8053.0    7461.0    6121.0
1       0.0       0.0       0.0  ...    1497.0    1335.0    1112.0     864.0
2  100510.0   96360.0   93440.0  ...  206690.0  204800.0  216580.0  220280.0
3  153570.0  153530.0  172550.0  ...  363470.0  402210.0  460650.0  535970.0
4       0.0       0.0       0.0  ...   20333.0   19387.0   17828.0   18168.0

      2009     2010     2011     2012     2013  Total_Migration
0   4100.0      0.0      0.0      0.0      0.0          86335.0
1    861.0      0.0      0.0      0.0      0.0          14355.0
2      0.0      0.0      0.0      0.0      0.0        4461160.0
3      0.0      0.0      0.0      0.0      0.0        7965110.0
4  16376.0  16059.0  14401.0  15443.0  15368.0         327992.0

[5 rows x 39 columns]

In [117]:
# Group by 'Country' and sum the 'Total_Migration' for each country 
total_migration_by_country = Migration_Flows.groupby('CntName')['Total_Migration'].sum().reset_index() 

# Display the result 
print(total_migration_by_country)

                                              CntName  Total_Migration
0                                             Armenia         100690.0
1                                           Australia       12426270.0
2                                             Austria        4900224.0
3                                          Azerbaijan         160142.0
4                                             Belarus         292562.0
5                                             Belgium        8000747.0
6                                            Bulgaria         102795.0
7                                              Canada        6665191.0
8                                             Croatia         965171.0
9                                              Cyprus         694136.0
10                                     Czech Republic        2444292.0
11                                            Denmark        5425620.0
12                                            Estonia         183961.0
13                                            Finland        1718861.0
14                                             France        7886486.0
15                                            Germany       85876443.0
16                                             Greece        1871072.0
17                                            Hungary         755151.0
18                                            Iceland         497243.0
19                                            Ireland        4391430.0
20                                              Italy       16120530.0
21                                         Kazakhstan        1349503.0
22                                         Kyrgyzstan        1227523.0
23                                             Latvia         940653.0
24                                      Liechtenstein           9790.0
25                                          Lithuania        1187385.0
26                                         Luxembourg         948638.0
27                                              Malta          92846.0
28                                        Netherlands       10379411.0
29                                        New Zealand        7793649.0
30                                             Norway        3657849.0
31                                             Poland        4349002.0
32                                           Portugal        2035969.0
33                                Republic of Moldova          49108.0
34                                            Romania        4479279.0
35                                 Russian Federation       14866468.0
36                                           Slovakia         363785.0
37                                           Slovenia         807585.0
38                                              Spain       20265188.0
39                                             Sweden        4877739.0
40                                        Switzerland        6573581.0
41          The former Yugoslav Republic of Macedonia          29523.0
42                                            Ukraine        1481046.0
43  United Kingdom of Great Britain and Northern I...       27922205.0
44                           United States of America       29546136.0

In [89]:
Migration_Flows.to_csv("/Users/syedakramulhassan/Library/CloudStorage/OneDrive-Personal/WorkSpace/Learning/Python/Learning Pandas/Migration_Flows.csv", index=False)

In [119]:
# Rename the column 'OldName' to 'NewName' 
Migration_Flows.rename(columns={'CntName': 'Country'}, inplace=True) 

# Display the DataFrame to confirm the change 
print(Migration_Flows)

                                               Country        Criteria  \
0                                              Armenia       Residence
1                                              Armenia       Residence
2                                            Australia       Residence
3                                            Australia       Residence
4                                              Austria     Citizenship
..                                                 ...             ...
224  United Kingdom of Great Britain and Northern I...     Citizenship
225  United Kingdom of Great Britain and Northern I...     Citizenship
226  United Kingdom of Great Britain and Northern I...       Residence
227  United Kingdom of Great Britain and Northern I...       Residence
228                           United States of America  Place of birth

           Type    Coverage      1980      1981      1982      1983      1984  \
0     Emigrants        Both       0.0       0.0       0.0       0.0       0.0
1    Immigrants        Both       0.0       0.0       0.0       0.0       0.0
2     Emigrants        Both   90860.0   85600.0   92340.0  100510.0   96360.0
3    Immigrants        Both  184290.0  212690.0  195200.0  153570.0  153530.0
4     Emigrants    Citizens       0.0       0.0       0.0       0.0       0.0
..          ...         ...       ...       ...       ...       ...       ...
224  Immigrants    Citizens       0.0       0.0       0.0       0.0       0.0
225  Immigrants  Foreigners       0.0       0.0       0.0       0.0       0.0
226   Emigrants        Both       0.0       0.0       0.0       0.0       0.0
227  Immigrants        Both  173000.0  153000.0  201000.0  202000.0  201000.0
228  Immigrants  Foreigners  530639.0  596600.0  594131.0  559763.0  543903.0

         1985  ...       2005       2006       2007       2008       2009  \
0         0.0  ...     9303.0     8053.0     7461.0     6121.0     4100.0
1         0.0  ...     1497.0     1335.0     1112.0      864.0      861.0
2     93440.0  ...   206690.0   204800.0   216580.0   220280.0        0.0
3    172550.0  ...   363470.0   402210.0   460650.0   535970.0        0.0
4         0.0  ...    20333.0    19387.0    17828.0    18168.0    16376.0
..        ...  ...        ...        ...        ...        ...        ...
224       0.0  ...    89067.0    77306.0    71424.0    85081.0    95970.0
225       0.0  ...   407403.0   451702.0   455290.0   505161.0   470544.0
226       0.0  ...   328408.0   369470.0   317587.0   427207.0   368177.0
227  232000.0  ...   496469.0   529008.0   526714.0   590242.0   566514.0
228  570009.0  ...  1122257.0  1266129.0  1052415.0  1107126.0  1130818.0

          2010       2011       2012      2013  Total_Migration
0          0.0        0.0        0.0       0.0          86335.0
1          0.0        0.0        0.0       0.0          14355.0
2          0.0        0.0        0.0       0.0        4461160.0
3          0.0        0.0        0.0       0.0        7965110.0
4      16059.0    14401.0    15443.0   15368.0         327992.0
..         ...        ...        ...       ...              ...
224    93321.0    78430.0    80196.0   76136.0        1282154.0
225   497629.0   487614.0   417844.0  449910.0        6506353.0
226   339306.0   350703.0   321217.0  316934.0        4196629.0
227   590950.0   566044.0   498040.0  526046.0       11211508.0
228  1042625.0  1062040.0  1031631.0  990553.0       29546136.0

[229 rows x 39 columns]

In [121]:
Migration_Flows.to_csv("/Users/syedakramulhassan/Library/CloudStorage/OneDrive-Personal/WorkSpace/Learning/Python/Learning Pandas/Migration_Flows.csv", index=False)

In [123]:
# Group by 'Country' and sum the 'Total_Migration' for each country 
total_migration_by_Type = Migration_Flows.groupby('Type')['Total_Migration'].sum().reset_index() 

# Display the result 
print(total_migration_by_Type)

         Type  Total_Migration
0   Emigrants      101814564.0
1  Immigrants      204898314.0

In [129]:
# Function to calculate total migration for a specific country
def total_migration_for_country(Migration_Flows, country):
    columns_to_sum = [str(year) for year in range(1980, 2013)] # Create a list of column names from 1980 to 2023
    country_data = Migration_Flows[Migration_Flows['Country'] == country] # Filter the DataFrame for the specified country
    country_data['Total_Migration'] = country_data[columns_to_sum].sum(axis=1) # Calculate the Total_Migration for each row
    return country_data['Total_Migration'].sum() # Return the sum of Total_Migration for the country

# Example usage for the country 'Australia'
total_migration_Australia = total_migration_for_country(Migration_Flows, 'Australia')

print(f"Total Migration for Australia: {total_migration_Australia}")

Total Migration for Australia: 12426270.0

/var/folders/ym/7z7j1ltd6k3bb0f1vdky5vk40000gn/T/ipykernel_22957/3490416032.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_data['Total_Migration'] = country_data[columns_to_sum].sum(axis=1)

In [131]:
# Example usage for the country 'Australia'
total_migration_Austria = total_migration_for_country(Migration_Flows, 'Austria')

print(f"Total Migration for Austria: {total_migration_Austria}")

Total Migration for Austria: 4900224.0

/var/folders/ym/7z7j1ltd6k3bb0f1vdky5vk40000gn/T/ipykernel_22957/3490416032.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_data['Total_Migration'] = country_data[columns_to_sum].sum(axis=1)